<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>链接管理</title>
</head>
<body>
<table>
    <tr>
        <td>分类名称</td>
        <td><input type="text" id="category_name"></td>
        <td><button onclick="addCategory()">添加分类</button></td>
    </tr>
    <tr>
        <td>分类</td>
        <td>网站名</td>
        <td>网址</td>
        <td>点击数量</td>
        <td>操作</td>
    </tr>
    {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td><a href="javascript:;" onclick="editCategory({{ category.id }})">编辑</a></td>
            <td><a href="javascript:;" onclick="deleteCategory({{ category.id }})">删除</a></td>
        </tr>
        {% for url in get_urls_by_category(category.id) %}
            <tr>
                <td></td>
<td><input type="text" name="title" value="{{ url.title }}" required></td>
<td><input type="url" name="url" value="{{ url.url }}" required></td>
<input type="hidden" name="id" value="{{ url.id }}">
                <td>{{ url.click_count }}</td>
                <td>
                    <a href="javascript:;" onclick="editURL({{ url.id }})">编辑</a>
                    <a href="javascript:;" onclick="deleteURL({{ url.id }})">删除</a>
                </td>
            </tr>
        {% endfor %}
        <tr><td></td>
                <td colspan="3">
                    <form action="/link/add_url" method="POST">
                        <input type="hidden" name="category_id" value="{{ category['id'] }}">
                        <input type="text" name="title" placeholder="网站名" required>
                        <input type="url" name="url" placeholder="链接" required>
                        <button type="submit">+</button>
                    </form>
                </td>
</tr>
    {% endfor %}
    </table>
</body>
<script>

function editCategory(id) {
    var name = prompt('请输入新的分类名:');
    fetch('/link/edit_category/' + id, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({name: name})
    })
    .then(res => res.json())
    .then(data => {
        document.querySelector('td:first-of-type').innerText = data.name;
    })
}

function addCategory() {
    var name = document.getElementById('category_name').value;
    fetch('/link/add_category', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: 'name=' + name
    })
    .then(res => res.text())
    .then(data => location.reload())
}

function deleteCategory(id) {
    fetch('/link/delete_category/' + id, {
        method: 'POST'
    })
    .then(res => res.text())
    .then(data => location.reload())
}

function editURL(id) {
var title = document.querySelector('input[name="title"][value="' + url.id + '"]').value;
var url = document.querySelector('input[name="url"][value="' + url.id + '"]').value;
    fetch('/link/edit_url', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            url_id: id,
            title: title,
            url: url
        })
    })
    .then(res => res.json())
    .then(data => {
        document.querySelector('input[name="title"][value="' + id + '"]').value = data.title;
document.querySelector('input[name="url"][value="' + id + '"]').value = data.url;
    })
}

function deleteURL(id) {
    fetch('/link/delete_url/' + id, {
        method: 'POST'
    })
    .then(res => res.text())
    .then(data => location.reload())
}
</script>
</html>