root = true

[*]
qz/
├── instance/
│   ├── link.db                    # 网址的数据库
├── py/
│   ├── static/                             # 静态文件夹
│   │   ├── css/                                # CSS文件夹
│   │   │   └── style.css                         # 全局样式表
│   │   ├── js/                                    # JavaScript文件夹
│   │   │   └── script.js                           # 全局脚本
│   │   └── images/                            # 图片文件夹
│   │       └── image.jpg                           # 示例图片
│   ├── templates/                      # HTML模板文件夹
│   │   ├── css/                                # CSS文件夹
│   │   │   └── style.css                         # 全局样式表
│   │   ├── html/                                # html文件夹
│   │   │   └── link/                                # 网址文件夹
│   │   │       ├── index.html                       # 网址主页
│   │   │       └── link.html                  # 网址管理页面
│   │   ├── index.html                      # 主页模板
│   │   ├── geyan.html                      # 格言管理模板
│   │   ├── liuyan.html                    # 留言模板
│   │   └── management.html                # 留言管理模板
│   ├── __init__.py                    # 初始化应用程序
│   ├── main.py                         # 主要的应用程序逻辑
│   ├── database.py                         # 未来的主数据库脚本
│   ├── htmlj.py                         # 公用的html
│   ├── link.py                         # 网址模块视图
│   └──  pa.py                         # 爬虫模块
├── run.py                                   # 启动应用程序的脚本
├── db.py                                   # 名人格言的数据库脚本
├── messages3.db                                  # 留言的数据库脚本
├── vikas.py                                   # main配套的维格表
└── 励志名言.db                         # 励志名言数据库

刚学python flask所以工程管理有点乱，导致用了3个数据库，但是现在link.py单独使用的时候可以正常显示，没有BUG，但是通过蓝图就没办法显示了，我现在不清楚怎么弄了，你还需要什么文件的代码告诉我