root = true

[*]
qz/
├── instance/
│   ├── link.db                    # 网址的数据库
├── py/
│   ├── static/                             # 静态文件夹
│   │   ├── css/                                # CSS文件夹
│   │   │   └── style.css                         # 全局样式表
│   │   ├── js/                                    # JavaScript文件夹
│   │   │   └── script.js                           # 全局脚本
│   │   └── images/                            # 图片文件夹
│   │       └── image.jpg                           # 示例图片
│   ├── templates/                      # HTML模板文件夹
│   │   ├── css/                                # CSS文件夹
│   │   │   └── style.css                         # 全局样式表
│   │   ├── html/                                # html文件夹
│   │   │   └── link/                                # 网址文件夹
│   │   │       ├── index.html                       # 网址主页
│   │   │       └── link.html                  # 网址管理页面
│   │   ├── index.html                      # 主页模板
│   │   ├── geyan.html                      # 格言管理模板
│   │   ├── liuyan.html                    # 留言模板
│   │   └── management.html                # 留言管理模板
│   ├── __init__.py                    # 初始化应用程序
│   ├── main.py                         # 主要的应用程序逻辑
│   ├── database.py                         # 未来的主数据库脚本
│   ├── htmlj.py                         # 公用的html
│   ├── link.py                         # 网址模块视图
│   └──  pa.py                         # 爬虫模块
├── run.py                                   # 启动应用程序的脚本
├── db.py                                   # 名人格言的数据库脚本
├── messages3.db                                  # 留言的数据库脚本
├── vikas.py                                   # main配套的维格表
└── 励志名言.db                         # 励志名言数据库

我想把名人格言的数据库脚本放到py文件夹下，数据库想用app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///link.db'，放在__init__.py里面，
想把获得格言放在get_geyan()，geyan_add()，geyan_delete()放在htmlj.py 文件里，messagess()，send_messages(name, message)delete_messages(message_id)放在main.py里，代码应该怎么写