<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>网页框架</title>
  </head>
  <body>
    <div style="display: flex; flex-direction: column;">
      <!--标题部分-->
      <div style="text-align: center;">
        <h1>网页框架</h1>
      </div>
      <!--导航栏部分-->
      <div style="display: flex;justify-content: space-between; align-items: center;">
<table style="width: 80%; margin: 0 10%;">
  <tr>
    <td style="width: 14.28%; text-align: center; padding: 20px 0;">
      <a href="#">总计划</a>
    </td>
    <td style="width: 14.28%; text-align: center; padding: 20px 0;">
      <a href="#">编程</a>
    </td>
    <td style="width: 14.28%; text-align: center; padding: 20px 0;">
      <a href="#">语文</a>
    </td>
    <td style="width: 14.28%; text-align: center; padding: 20px 0;">
      <a href="#">数学</a>
    </td>
    <td style="width: 14.28%; text-align: center; padding: 20px 0;">
      <a href="#">英语</a>
    </td>
    <td style="width: 14.28%; text-align: center; padding: 20px 0;">
      <a href="#">体育</a>
    </td>
    <td style="width: 14.28%; text-align: center; padding: 20px 0;">
      <a href="#">留言</a>
    </td>
  </tr>
</table>
      </div>
      <!--左，中，右部分-->
      <div style="display: flex">
        <!--左侧部分-->
        <div style="background-color: #ccc;width: 15%;height: 100%;">每周任务</div>
        <!--中间部分-->
        <div style="background-color: lightblue;width: 70%;height: 100%;">编程任务</div>
        <!--右侧部分-->
        <div style="background-color: yellow;width: 15%;height: 100%;">留言本</div>
      </div>
    </div>
  </body>
</html>