<!DOCTYPE html>
<html>

<head>
    <title>王钦泽的学习宝典 - Acwing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="image/png"
        href="https://cdn.acwing.com/media/user/profile/photo/208081_lg_445d4bbb9e.png" />
        <style>
        /* 默认样式 */
        .column {
            display: none;
            width: 0%;
        }

        /* 当浏览器宽度大于等于600px时显示中间一列 */
        @media screen and (min-width: 1200px) {
            .column {
                display: block;
                width: 100%;
            }
        }
        @media screen and (max-width: 1200px) {
        .colu {
            display: none;
            width: 0%;
        }
    }
    </style>
</head>

<body>
    <div id="header">
        <img src="{{ url_for('static', filename='zt.png') }}"
            style="display: block; margin: 0 auto; width: 25%; height: auto;">
        {{ top|safe }}
    </div>
    <table style="width: 100%; table-layout: fixed;">
        <colgroup>
            <col class="colu" style="width: 15%;">
            <col style="width: 70%;">
            <col class="colu" style="width: 15%;">
        </colgroup>
        <tr>

            <td class="column" style="vertical-align: top;">
                <br>
                <div id="sidebar">
                    {{ table|safe }}
                </div>
                <br>
                <div id="sidebar2">
                    {{ table2|safe }}
                </div>
            </td>
            <td>
                <div id="main-content">
                    <form>
                        <div id="status"></div>
                        <input type="text" placeholder="请输入题目号" name="id" oninput="updateProblemInfo()">
                        <input type="button" value="添加" onclick="addtable()">
                        <input type="date" name="date" value="" id="date-input">
                    </form>
                    <div id="problem-info"></div>
                    <table id="table">
                        <thead>
                            <tr>
                                <th>题号</th>
                                <th>题目</th>
                                <th>次数</th>
                                <th>复习时间</th>
                                <!--                    <th>开始时间</th>-->
                                <th>操作</th>
                            </tr>
{% for item in data %}
    {% if item['复习时间']|compare_dates %}
        <tr data-id="{{ item['题号'] }}">
            <td>{{ item['题号'] }}</td>
            <td><a href="{{ item['网址']}}" target="_blank">{{ item['题目'] }}</a></td>
            <td>{{ item['次'] }}</td>
            <td>{% if item['次'] > 7 %} 完成了 {% else %}{{ item['复习时间'] }}{% endif %}</td>
            <td><input type="button" value="更新" onclick="updateTabl({{ item['题号'] }})"></td>
        </tr>
    {% endif %}
{% endfor %}
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="column" style="vertical-align: top;">
                <h2>留言列表</h2>
                <!-- 留言列表 -->
                <div style="width: 100%; margin: 0 auto;">
                    <table style="width: 100%; table-layout: fixed;">
                        <tr>
                            <th style="font-size: smaller;">留言内容</th>
                        </tr>
                        {% for message in messages %}
                        <tr>
                            <td class="message" style="word-wrap: break-word; white-space: normal; text-align: left;">
                                {{ message[1] }}：<br>{{ message[2] }}<br>
                                <div style="text-align: right;font-size: 6px;">
                                    {{ message[3] }}
                                </div>
                            </td>
                        </tr>
                        {% if message[4] %}
                        <tr>
                            <td>
                                <img src="data:image/jpeg;base64,{{ message[4] }}" alt="Image" style="max-width: 100%;">
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </td> <!-- 第3列为空 -->
        </tr>
    </table>


    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function updateTabl(id) {
            var row = $('tr[data-id="' + id + '"]');
            var cells = row.find('td');
            var data = {};
            var count = parseInt(cells.eq(2).text());

            cells.each(function (index, cell) {
                switch (index) {
                    case 0:
                        data['题号'] = cell.textContent;
                        break;
                    case 1:
                        data['题目'] = cell.textContent;
                        break;
                    case 2:
                        if (count < 7) {
                            data['次'] = parseInt(cell.textContent) + 1; // 将次数加1
                            cell.textContent = data['次']; // 更新表格中的次数显示
                        }
                        break;
                    case 3:
                        var today = new Date();
                        var reviewDate = new Date();
                        switch (count + 1) {
                            case 2:
                                reviewDate.setDate(today.getDate() + 2);
                                break;
                            case 3:
                                reviewDate.setDate(today.getDate() + 3);
                                break;
                            case 4:
                                reviewDate.setDate(today.getDate() + 8);
                                break;
                            case 5:
                                reviewDate.setDate(today.getDate() + 15);
                                break;
                            case 6:
                                reviewDate.setDate(today.getDate() + 60);
                                break;
                            default:
                                reviewDate = today;

                        }
                        var reviewDateString = reviewDate.toISOString().slice(0, 10);
                        data['复习时间'] = reviewDateString;
                        cell.textContent = reviewDateString;
                        if (count < 7) {
                            cell.textContent = reviewDateString;
                        } else {
                            cell.textContent = '完成了'
                        }
                        break;
                    case 4:
                        data['开始时间'] = cell.textContent;
                        break;
                    default:
                        break;
                }
            });
            sendTable(data);
        }
        function addtable() {
            var id = document.getElementsByName('id')[0].value;
            var tbody = $('#table tbody');
            var existingRow = tbody.find('td:first-child:contains(' + id + ')').parent();
            if (!existingRow.length) {
                // 如果没有，发送 AJAX 请求获取题目信息
                $.ajax({
                    url: '/get_problem?id=' + id,
                    type: 'GET',
                    success: function (data) {
                        // 将返回的数据添加到表格中
                        var newRow = $('<tr></tr>');
                        newRow.append($('<td></td>').text(data.id));
                        newRow.append($('<td></td>').html('<a href="' + data.link + '">' + data.title + '</a>'));
                        newRow.append($('<td></td>').text('1'));
                        var today = new Date();
                        var reviewDate = new Date(today.getTime() + 24 * 60 * 60 * 1000); // 初始复习时间为明天
                        newRow.append($('<td></td>').text(reviewDate.toLocaleDateString('zh-CN', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-')));
                        newRow.append($('<td></td>').text(today.toLocaleDateString('zh-CN', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-')));
                        newRow.append($('<td></td>').html('<input type="button" value="更新" onclick="updateTabl(' + data.id + ')">'));
                        tbody.prepend(newRow);
                        // 发送数据到服务器更新表格
                        var data = {
                            '题号': parseInt(data.id),
                            '题目': data.title,
                            '次': '1',
                            '复习时间': reviewDate.getFullYear() + '-' + (reviewDate.getMonth() + 1) + '-' + reviewDate.getDate(),
                            '开始时间': reviewDate.getFullYear() + '-' + (reviewDate.getMonth() + 1) + '-' + reviewDate.getDate(),
                            '网址': data.link

                        };
                        sendTable(data);
                    },
                });
            } else {
                // 如果有，将该行移动到表格的第一行
                existingRow.insertBefore(tbody.find('tr:first'));
            }
        }
        function sendTable(data) {
            $.ajax({
                url: '/update_table',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
        function updateProblemInfo() {
            var id = document.getElementsByName('id')[0].value;
            // 发送 AJAX 请求
            $.ajax({
                url: `/get_problem?id=${id}`,
                type: 'GET',
                success: function (data) {
                    // 将返回的数据更新到页面中
                    $('#problem-info').html(`<h3><a href="${data.link}">${data.title}</a></h3>`);

                    // 隐藏状态消息
                    $('#status').empty();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    $('#problem-info').empty();
                    $('#status').text('获取题目信息失败，请检查题目号是否正确！');
                }
            });
        }
    </script>
    <script>
        // 获取当前日期
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth() + 1;
        var day = today.getDate();

        // 将日期设置为 yyyy-mm-dd 格式
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }
        var todayFormatted = year + "-" + month + "-" + day;

        // 将日期设置为日期输入框的默认值
        document.getElementById("date-input").defaultValue = todayFormatted;
    </script>
</body>

</html>